.cart-item {
  position: relative;

  background-color: #ffffff;
  border-radius: 30px;
  padding: 18px;

  display: flex;
  align-items: center;
  gap: 20px;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.cart-item__controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item__controls button {
  width: 30px;
  height: 30px;

  border: none;
  border-radius: 50%;
  background-color: var(--light-gray);

  cursor: pointer;
}

.cart-item__remove {
  position: absolute;
  top: 15px;
  right: 15px;

  background: none;
  border: none;
  font-size: 16px;

  cursor: pointer;
}
