.product-card {
  width: 350px;
  padding: 15px 22px 22px;
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.product-card__image {
  width: 220px;
  height: 237px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__title {
  font-size: 17px;
  font-weight: 600;
  color: var(--black);
}

.product-card__price {
  font-size: 17px;
  font-weight: 600;
  color: var(--orange);
}

.product-card__buy {
  background: none;
  border: none;

  font-size: 17px;
  font-weight: 600;
  color: var(--black);

  cursor: pointer;
}

.product-card__buy:hover {
  opacity: 0.7;
}
