.product-group {
  margin-bottom: 40px;
}

.product-group__title {
  margin: 28px 0 20px;

  font-size: 20px;
  font-weight: 600;
  color: var(--gray);
}

.product-group__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
