.header {
  width: 100%;
  background-color: #ffffff;
}

.header__container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 15px 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 25px;
  color: var(--black);
  text-decoration: none;
}

.header__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__cart {
  text-decoration: none;
  position: relative;
  margin-right: 15px;
}

.header__cart-icon {
  font-size: 22px;
}

.header__count {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 17px;
  height: 17px;
  background-color: var(--orange);
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
