.footer {
    margin-top: 40px;
    padding: 30px 30px;
    max-width: 1110px;  
    margin: 0 auto; 
    background-color: #ffffff;
    border-radius: 30px 30px 0 0;

    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__logo {
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    color: var(--black);
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__link {
    font-size: 17px;
    font-weight: 400;
    color: var(--black);
    text-decoration: none;
}

.footer__link:hover {
    opacity: 0.7;
}

.footer__lang {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__lang-btn {
    background: none;
    border: none;

    font-size: 15px;
    font-weight: 500;
    color: var(--black);

    cursor: pointer;
}

.footer__lang-btn--active {
    color: var(--orange);
}

.footer__socials {
    display: flex;
    gap: 15px;
}

.footer__social {
    display: inline-block;  
    text-decoration: none;
    font-size: 15px;
    color: var(--black);
}

.footer__social:hover {
    opacity: 0.7;
}
