.cart-summary {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 130px;
  max-width: 350px;
}

.cart-summary__row {
  display: flex;
  justify-content: space-between;

  font-size: 17px;
  font-weight: 600;
}

.cart-summary__button {
  background-color: var(--black);
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 15px 0;
  font-size: 17px;
  font-weight: 600;

  cursor: pointer;
}

.cart-summary__button:hover {
  opacity: 0.8;
}
