* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  color: #000000;
}

:root {
  --black: #000000;
  --gray: #838383;
  --light-gray: #f5f5f5;
  --orange: #f7ae60;
}




